{% load staticfiles %}
<!DOCTYPE html>
<html>


<head>
  <title>{% block title %} Blog {% endblock title %}</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

  <link rel='stylesheet' href='{% static "css/base.css" %}' />
  <style>
    {% block style %} {% endblock style %}
  </style>
  {% block head_extra %} {% endblock head_extra %}
</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


  {% include "blog/messages_display.html" %}
  <div class="container">
    <div class='col-md-12'>
      <div class='col-sm-6 col-sm-offset-3'>
	{% include 'blog/navbar.html' %}
      </div>
    </div>

    {% block content %}
    {% endblock content %}
  </div>

  <script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $(".content-markdown").each(function(){
      var content = $(this).text()
      console.log(content)
      var markedContent = marked(content)
      console.log(markedContent)
      $(this).html(markedContent)
    })
    $(".post-detail-item img").each(function(){
      $(this).addClass("img-responsive")
    })

    // preview-title
    var titleInput = $("#id_title");
    
    function setTitle(value) {
        $("#preview-title").text(value)   
    }
    
    titleInput.keyup(function(){
        var newTitle = $(this).val();
        setTitle(newTitle)
    })

    // preview-content
    var contentInput = $("#id_body");
    
    function setContent(value){
        var markedContent = marked(value)
        $("#preview-content").html(markedContent)
        $("#preview-content img").each(function(){
            $(this).addClass('img-responsive')
        })
    }
    
    contentInput.keyup(function(){
       var newContent = $(this).val();
       setContent(newContent)
    })
  
  })
</script>
</body>
</html>

