{% extends 'blog/base.html' %}
{% load urlify %}

{% block title %} 
{{ instance.title }} | {{ block.super }} 
{% endblock title %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
  
  {% if instance.image %}
  <img src='{{ instance.image.url }}' class='img-responsive' />
  {% endif %}
  <h1>{{title}} <small>{{ instance.created_date|timesince }} ago</small> </h1>

  {{ instance.body|linebreaks }}<br>
  {{ instance.author }}<br>
  <br>
  {{ instance.content|urlify }}<br>
  

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
    Facebook
  </a>

  <a href="https://twitter.com/home?status={{ instance.content|urlify }}%20{{ request.build_absolute_uri }}">
    Twitter
  </a>

  <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}">
    Google Plus
  </a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ instance.content|urlify }}&source={{ request.build_absolute_uri }}">
    Linkedin
  </a>

  <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ instance.title }}">
    Reddit
  </a>

</div>
{% endblock content %}
