{% extends 'blog/base.html' %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
<h1>Contents of {{title}} page</h1>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

{{ instance.title }}<br>
{{ instance.body }}<br>
{{ instance.author }}<br>
{{ instance.category }}<br>
{{ instance.tags }}<br>
{{ instance.id }}<br>
{{ instance.pk }}<br>
<br>

{% endblock content %}
